{% extends '_base.twig' %}

{% block content %}

    <h1>Invoices</h1>

    <div class="row">
    {% for invoice in invoices %}
        <div class="col s12 m6">
            <div class="card {% if invoice.status == 'UNPAID' %}red{% else %}green{% endif %} darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ invoice.title }}</span>
                    <span class="badge white-text {% if invoice.status == 'UNPAID' %}red{% else %}green{% endif %} lighten-1">{{ invoice.status | title }} - {{ invoice.issue_date | date }}</span>
                    <p>
                        £{{ invoice.amount | format }}
                    </p>
                    <p>
                        {{ invoice.description }}
                    </p>
                </div>
                {% if invoice.status == 'UNPAID' %}
                <div class="card-action">
                    <a href="{{ urlFor('invoices.view', { id: invoice.id }) }}">Pay Invoice</a>
                </div>
                {% else %}
                <div class="card-action">
                    <a href="{{ urlFor('invoices.receipt', { id: invoice.id }) }}">View Receipt</a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}